dbtocsv.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="15d76aeb-c9e6-4f72-ae8e-edff4664750c" >
		<http:listener-connection host="localhost" port="9002" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="cb6f46a5-6d36-4ccf-a7a7-310de3be4542" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="mule" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="56d87cdf-3704-4e17-a86b-d02942cc583f" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="mule" />
	</db:config>
	<flow name="DBtoCSV" doc:id="e1e2c71e-0637-49a8-aa10-d497f39a38f3" >
		<http:listener doc:name="Listener" doc:id="7d6d520e-cb17-4139-8771-23242a8bdf8a" config-ref="HTTP_Listener_config" path="/"/>
		<db:select doc:name="Select" doc:id="a1da6cf9-66c0-4f79-a075-e462268f36ee" config-ref="Database_Config">
			<db:sql >select * from employee</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b611ed7e-1313-4935-8706-7ad29d1c1b10" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0 , header = true
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.empid,
	NAME: payload01.ename default "",
	PAY: payload01.salary
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Display csv on console" doc:id="a6c87f29-7713-4ef7-a7ce-5cf9e2a429f9" message="#[payload]"/>
		<file:write doc:name="Hr format" doc:id="e6ed2775-95dd-49ad-8bf1-93a8c984325d" path="c:\data\hr\emp.csv"/>
	</flow>
	<flow name="dbtocsvFlowStudent" doc:id="427b7aae-c03a-407d-8d48-a03b59d2dd89" >
		<http:listener doc:name="Listener" doc:id="fc4e862b-af70-42e0-9443-4ac920dc4d82" config-ref="HTTP_Listener_config" path="/"/>
		<db:select doc:name="Select" doc:id="0d0098c8-2d8d-4391-9ee7-af207bf7b0f2" config-ref="Database_Config1">
			<db:sql >Select * From student</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="22597198-4fc9-44e1-b999-6a992c887282" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0 , header = true
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Rollno: payload01.Rollno,
	StudentName: payload01.Sname,
	Percentage: payload01.Marks
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="133e324b-6ac4-4766-9799-c37b25547292" message="#[payload]"/>
		<file:write doc:name="admin" doc:id="bcd657b7-fa37-435a-85d8-02854803816e" path="c:\data\admin\students.csv"/>
	</flow>
</mule>
